* text=auto

*.f90 linguist-language=Fortran
*.f linguist-language=Fortran
*.py linguist-language=Python

*.jpg binary
*.png binary
*.gif binary
*.pdf binary
*.mod binary
*.pyc binary

*.py eol=lf
*.f90 eol=lf
*.f eol=lf
